@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



.home-div{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: start;
    
}
.home-div button{
    font-size: x-large;
    font-weight: bolder;
    background-color: rgb(27, 152, 27);
    color: white;
}


.body-adminPage{
    background-color: rgb(43, 1, 46);
    color: white;
}

#admin-username{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.subtitle-adminPage{
    text-align: center;
    margin-top: 20px;
}

.container-addParking{
    margin-top: 50px;
    margin-bottom: 10px;
}

#addParkingButton{
    margin-left: 38px;
}

.modal-header h5{
    color: black;
}

.container-table{
    border: thin solid white;
    border-radius: 50px;
    margin-bottom: 100px;
}

table{
    text-align: center;
}
thead{
    color:white;
}

tbody{
    color: white;
}

.btn-remove{
    margin-left: 0px;
    margin-right: 0px;
}

.btn-status{
    width: 100px;
}

#addNewParkingForm{
 color: black;
}
